<h1>Alteração</h1>

<div class="container">
  <form action="">
    <div>
      <label for="" class="form-label">Nome do Cliente</label>
      <input [(ngModel)]="deposito.nomeCliente" type="text" class="form-control" name="nomeCliente">
    </div>
    <div>
      <label for="" class="form-label">Valor Tranferencia</label>
      <input [(ngModel)]="deposito.valor" type="text" class="form-control"name="valor">
    </div>
    <div>
      <label for="" class="form-label">Numero da Conta</label>
      <input [(ngModel)]="deposito.conta" type="text" class="form-control" name="conta">
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="editar()">Atualizar</button>
    </div>
  </form>
</div>

